
<div class = "background">

    <div class = "middle">About Page</div>

    <br />

    <div class = "body2">Check out some things about me!</div>

    <div class="maincontainer">

        <div class="thecard">
  
          <div class="thefront"><h1>Hobbies</h1><p>These are some hobbies that I do in my personal time. Check them out!</p><p>If you want, check the bottom for more specifics!</p></div>
  
          <div class="theback"><h1>My hobbies are: </h1><p>- Playing Video Games</p><p>- Playing Chess</p><p>- Watching Movies</p></div>
  
        </div>


      </div>

      <div class="maincontainer2">

        <div class="thecard">
  
          <div class = "thefront" ><h1>Favorite Food/Food Places</h1><p>I love to eat at many places such as Taco Bell, Chipotle, and Sri Dosa Place!</p></div>
  
          <div class="theback"><h1>My favorite food include: </h1><p>- Pizza</p><p>- Dosa</p><p>- Bean Burrito</p>
  </div>
        </div>


      </div>

    



      <div class="maincontainer3">

        <div class="thecard">
  
          <div class = "thefront" ><h1>Favorite Music/Artist</h1><p>I love to listen to music! Check out some artists that I listen to!</p><p>Connect with me on Spotify!  </p> <p>Username: Lolito Singh</p></div>
  
          <div class="theback"><h1>My favorite artists include: </h1><p>- Kid Cudi</p>
            <h2>1. Day N' Nite</h2><h2>2. Pursuit of Happiness</h2><h2>3. Alive</h2>
            <p>- Lil Wayne</p>
            <h2>1. Right Above It</h2><h2>2. Knockout</h2><h2>3. She Will</h2>
            <p>- Kanye West</p>
            <h2>1. Stronger</h2><h2>2. Welcome to Heartbreak</h2><h2>3. Good Life</h2>

  
        </div>
        </div>
        </div>
        

        <div class="maincontainer4">
            <div class="thecard">
  
                <div class = "thefront" ><h1>Favorite Movie Series</h1><p>I love many movies. Hover over to check what movies I like. </p></div>
        
                <div class="theback"><h1>My favorite movies' series are: </h1><p>- Harry Potter Series</p><p>- Hunger Games Series</p><p>- Divergent Series</p><p>- Extraction Series</p>
        
              </div>
            
            </div>
            </div>

            <div class="maincontainer5">
                <div class="thecard">
      
                    <div class = "thefront" ><h1>Favorite Sports</h1><p>I love many sports. Hover over to check what sports I like. </p></div>
            
                    <div class="theback"><h1>My favorite sports are: </h1><p>- Basketball</p><p>- Football</p><p>- Soccer</p><p>- Tennis</p>
            
                  </div>
                
                </div>
                </div>

                <div class="maincontainer6">
                    <div class="thecard">
          
                        <div class = "thefront" ><h1>Favorite Players</h1><p>I love watching many sports. Hover over to check who my favorite players are! </p></div>
                
                        <div class="theback"><h1>My favorite players are: </h1><p>- Basketball - Kawhi Leonard</p><p>- Football - Patrick Mahomes</p><p>- Soccer - Luka Modric</p><p>- Tennis - Kei Nikishori</p>
                
                      </div>
                    
                    </div>
                    </div>

                    
</div>

<div class = "background">
    <button class = "btn" (click)="goHome()">Home Page</button>

</div>

