
<div class = "background">

    <div class = "middle">Gallery Page</div>


    <br />

    <button class = "btn2" (click)="music()">Music</button>
    <button class = "btn3" (click)="music()">Music</button>


    <div class = "body2">Here are some pictures that represents who I am. Check it out!!!</div>

    <br />


    <app-carousel [images]="images" [autoSlide]="true" [slideInterval]="20000"  ></app-carousel>

    <br />

    
    <button class = "btn" (click)="goHome()">Home Page</button>

</div>

