
<div class = "background">

    <div class = "middle">Projects Page!!!</div>
    <br />
    <div class = "body2">Check out some of my projects through clicking on the cards!</div>

 <body>
   

    <div class = "container">
        <div class = "card">
            <img src = "../assets/images/machine learning image.webp"  alt = "Cheetah" >
            <div class = "intro" (click)="goPage()">

                <h1>Machine Learning Project</h1>
                <p>- Created a C application implementing a machine learning algorithm to predict house prices based on multiple attributes.

                    <p>- Implemented Libraries: stdio.h, stdlib.h, math.h</p>

                    <p class = "red">Click on this image to see the project! Code is provided!</p>
            </div>

        </div>

    </div>

    <div class = "container2">
        <div class = "card">
            <img src = "../assets/images/basketball.jpg"  alt = "Cheetah" >
            <div class = "intro" (click)="goPage()">

                <h1>Basketball Project</h1>
                <p>- Developed a Java application to import and display career statistics of basketball players</p>

                    <p>- Integrated various classes enabling each player’s data to be appended and stored in a text file</p>

                    <p>- Implemented classes: BufferedWriter, BufferedReader, ArrayList, StdIn, StdOut</p>
                    <p class = "red">Click on this image to see the project! Code is provided!</p>
            </div>

        </div>
        
    </div>

    <div class = "container3">
        <div class = "card">
            <img src = "../assets/images/parabola.jpg"  alt = "Cheetah" >
            <div class = "intro" (click)="goPage()">

                <h1>Graphing Calculator Project</h1>
                <p>- Designed a graphics model in Java to transform the user’s desired equation into a graph</p>

                    <p>- Created various methods enabling the computer to display graphs with appropriate scales</p>

                    <p>- Implemented classes: StdDraw, ArrayList, StdIn, StdOut</p>
                    <p class = "red">Click on this image to see the project! Code is provided!</p>
            </div>

        </div>
        
    </div>
</body>

<br />
<br />

<button class = "btn" (click)="goHome()">Home Page</button>

</div>


 <!-- <div class = "card">

        <img src = "../assets/images/img (1).jpg" class = "card-img" alt = "">
            <div class = "card-body">
                Wassup -->
                <!-- <p class = "card-sub-title">New Your City</p>
                <p class = "card-info">Hey yo was poppin. Spider man here!</p> -->

                <!-- <button class = "card-btn">Spider Man Tour!</button> -->
            <!-- </div>
            
    </div> -->