
<div class = "background">



    <button class="btn4" (click)="goAbout()">About</button>
    <button class="btn btn-primary pull-right" (click)="goContact()">Contact</button><button class="btn2 btn-primary pull-right" (click)="goGallery()">Gallery</button><button class="btn3 btn-primary pull-right" (click)="goProject()">Projects</button>
    <button class="btn5 btn-primary pull-right" (click)="goExperience()">Experience</button>
  <br />
  <br />
  
  
  <div class = "center">Ajay Anand's Personal Website</div>
  
  <div class = "imagepos">
  <img [height]="600" [width]="500"  src = "assets/images/Screen Shot 2023-06-08 at 10.21.58 AM.png">
  </div>
  
    <div class = "container">
  
        <div class = "perfect">Who is Ajay Anand? </div>
  <br />
        <div class = "text">Hi, my name is Ajay Anand and I am an incoming junior at Rutgers University - New Brunswick majoring in computer science and minoring in data science. He is an aspiring software developer and lives in New Jersey.</div>
          
        <br />
        <div class = "text">With 2 years of programming experience across various companies - Kumon, Eye Level, WW - Ajay loves to learn and develop new technologies that can help the future!</div>
      
      <br />
  
      <div class = "text">Ajay loves mentoring and learning about new technologies such as SpringBoot, Angular, Bootstrap, HTML, SCSS. While you are here, be sure to say hi, especially if you're into mentoring, learning, and exploring!</div>
  
      <br />
  
      </div>
  
  
  </div>
  
