
<div class = "background">

    <div class = "middle">Experience Page</div>
    <br />
    <div class = "body2">Check out my experience down below!</div>
    <br />
    <div class = "card">

        <img src = "assets/images/ww.jpg" class = "card-img" alt = "">
        
        <div class = "card-body">
            <h1 class = "card-title">Wallenius Wilhelmsen</h1>
            <p class = "card-sub-title">Job: Junior Software Engineer</p>
            <br />
            <p class = "card-info">- Coordinated with my team to implement a functional and aesthetic login page in typescript Angular in order to further my understanding of the technology and improve the aesthetic of the WITS dev website. </p>
            <p class = "card-info">- Wrote different queries in the database to further my understanding of fetching data as a means to potentially incorporate new valuable datasets in Azure. </p>
            <p class = "card-info">- Analyzed different Spring boot applications on the repository website to comprehend the purpose of the applications on how they help the componay in preparation for writing new porgrams in spring boot in the near future.  </p>

            <br />
            <button class = "card-btn" (click)="goWW()">Wallenius Wilhemnsen Website</button>
            <br />
            <button class = "card-btn" (click)="goWW()">My Resume</button>

        </div>

    </div>

    <br />

    <div class = "card">

        <img src = "assets/images/download.png" class = "card-img" alt = "">
        
        <div class = "card-body">
            <h1 class = "card-title">Learning Assistant Program - Intro Comp Sci</h1>
            <p class = "card-sub-title">Job: Recitation Instructor</p>
            <br />
            <p class = "card-i">- Coordinating with professors for learning how to instruct and answer students’ questions for Intro to Comp Sci </p>
            <p class = "card-i2">- Facilitating computational and algorithmic thinking for over 10 students to enhance students’ thinking </p>
            <p class = "card-i3">- Leading study groups through planning the session and giving worksheet problems weekly per semester to ensure discipline within students</p>

            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />

            <button class = "card-btn" (click)="goRutgers()">Rutgers Website</button>
            <br />
            <button class = "card-btn" (click)="goWW()">My Resume</button>

        </div>

    </div>

    <br />

    <div class = "card">

        <img src = "assets/images/kumon.jpg" class = "card-img" alt = "">
        
        <div class = "card-body">
            <h1 class = "card-title">Kumon North America Inc. </h1>
            <p class = "card-sub-title">Job: Mathematics Grader</p>
            <br />
            <p class = "card-i">- Graded students' classwork and homework to assess their mastery of mathematical concepts </p>
            <p class = "card-i2">- Introduced mathematical concepts to students in a clear and digestible manner </p>
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            

            <button class = "card-btn" (click)="goKumon()">Kumon Website</button>
            <br />
            <button class = "card-btn" (click)="goWW()">My Resume</button>

        </div>

    </div>

    <br >

    <div class = "card">

        <img src = "assets/images/eye level.png" class = "card-img" alt = "">
        
        <div class = "card-body">
            <h1 class = "card-title">Eye Level Learning Center</h1>
            <p class = "card-sub-title">Job: Mathematics Grader</p>
            <br />
            <p class = "card-i">- Worked efficiently to grade a high-volume of student workbooks  </p>
            <p class = "card-i2">- Communicated new concepts to students to guide their progress in basic mathematics</p>
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />

            <button class = "card-btn" (click)="goEyeLevel()">Eye Level Website</button>
            <br />
            <button class = "card-btn" (click)="goWW()">My Resume</button>

        </div>

    </div>

    <button class = "btn" (click)="goHome()">Home</button>


    
</div>