.background{
    width: auto;
    height: 3000px;;
    background-color: black;
}

.middle{
    text-align: center;
    font-size: 50px;
    color: white;
    font-weight: bolder;
    
}

.body2{
    font-size: larger;
    color: white;
    font-weight: bold;
    text-align: center;
}



.btn {

    background: green;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 50px;
    font-family: inherit;
    
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 45%;
    bottom: -220%;
    justify-content: center;
    
    
  }

  
   *{ 
     margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body{
    width: 100%;
    height: 100vh;
    background-color: #36768c;
    font-family: 'roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card{
    display: table;
    margin-right: auto;
    margin-left: auto;
    width: 820px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden; 
     border: 8px solid white;
     position: relative;
  }
  
  .card-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
  }
  
  .card-body{
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    position: absolute;
    background: #1f3d4738;
    
     backdrop-filter: blur(5px);
    border-radius: 15px;
    color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 2s;
    
    
  
  } 

  .card:hover .card-body{
    right: 0;


  }

  .card-title{
    text-transform: uppercase;
    font-size: 30px;
    position: absolute;
    top: 0;
    font-weight: bolder;
  }

  .card-sub-title{
    text-transform: capitalize;
    font-size: 20px;
    font-weight: bold;;
    position: absolute;
    top: 10%;
    /* font-weight: 300; */

  }

  .card-info{
    font-size: 16px;
    line-height: 25px;
    padding: 10px;
    /* font-weight: 400; */

  }

  .card-info2{
    font-size: 16px;
    line-height: 25px;
    padding: 10px;
    /* font-weight: 400; */

  }

  .card-i{
    font-size: 16px;
    line-height: 25px;
    padding: 10px;
    position: absolute;
    top: 15%;
  }

  .card-i2{
    font-size: 16px;
    line-height: 25px;
    padding: 10px;
    position: absolute;
    top: 25%;
  }

  .card-i3{
    font-size: 16px;
    line-height: 25px;
    padding: 10px;
    position: absolute;
    top: 35%;
  }

  .card-btn{
    color: #1f3d47;
    background: #8fabba;
    padding: 10px 20px;
    border-radius: 5px;
    text-transform: capitalize;
    border: none;
    outline: none;
    font-weight: 500;
    cursor: pointer; 

  }